:root {
  --primary: #f88e53;
  --text: #666666;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Light.otf);
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Semibold.otf);
  font-weight: 800;
}

@font-face {
  font-family: "Recoleta";
  src: url(../fonts/recoleta-regulardemo.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

* a {
  text-decoration: none !important;
  color: initial !important;
  cursor: pointer !important;
}

* a:hover {
  color: initial !important;
  opacity: 0.5;
}

.my-text-primary {
  color: var(--primary);
}

.my-text {
  color: var(--text);
}
