:root {
  --primary: #F88E53;
  --text: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Medium", sans-serif;
}

.my-text-primary {
  color: var(--primary)
}